body {
    margin: 0;
    background: #a89f9f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    background: #1c6b11;
    border: 3px solid rgb(0, 0, 0);
}